@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h2 {
    color: rgb(51, 77, 49);
}

h1#pricipal {
    text-align: center;
    background-color: green;
    color: white;
}

.basico {
    color: rgb(9, 48, 190);
    font-weight: bold;
}

.intermediario {
    color: rgb(239, 255, 10);
}

.avancado {
    color: rgb(242, 10, 10);
}   

.destaque {
    background-color: rgb(242, 167, 16);
}