#container {
    height: 96vh;
    background-color: purple;
    background-image: url(img/target001.png);
    background-size: 100% 100%;
    position: relative;  /* SEMPRE É RELATIVO, NÃO PRECISA ESPECIALIZAR */

}

#conteudo {
    height: 200px;
    background-color: yellow;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(img/target001.png);
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
}