body {
    background-image: url(https://avatars.githubusercontent.com/u/8683378?v=4);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center 10%;
    border: 1px dashed black;
    height: 98vh;
    
}
