#container {
    position: relative;
    height: 500px;        
    background-color: purple;
    padding: 10px;
    background-image: url(img/target001.png);
    background: ;
}

#conteudo {
    height: 200px;
    background-color: yellow;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
}