@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
     
}

body {
    background-image: linear-gradient(to right, #D9B384, #A68160, #40261D);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 9px 10px 20px #40261D;
}

h1 {
    color: #A68160;
    text-align: center;
    text-shadow: 2px 2px 2px #785d45d5;
}

h2 {
    color: #f2c36d;
}

p {
    text-align: justify;
}